$text-color: rgb(235, 231, 241);
$text-shadow: 2px 2px 2px rgb(32, 31, 31);
$cards-shadow: 2px 2px 5px rgb(32, 31, 31);
$important-font-size: 2rem;
$normal-font-size: 1.05rem;
$border-radius: 10px;
$city-card-padding: 1.15rem;
$city-card-opacity: hsla(0, 0%, 98%, 0.18);
