$loader-color: #2b778e;
$loader-size: 80px;
$ring-width: 64px;
$border-thickness: 8px;

.lds-ring {
  color: $loader-color;

  &,
  div {
    box-sizing: border-box;
  }

  display: inline-block;
  position: relative;
  width: $loader-size;
  height: $loader-size;

  div {
    display: block;
    position: absolute;
    width: $ring-width;
    height: $ring-width;
    margin: $border-thickness; // 8px
    border: $border-thickness solid currentColor;
    border-radius: 50%;
    border-color: currentColor transparent transparent transparent;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
