@use "./loading-animation.scss" as *;
@use "variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: $text-color;
  display: flex;
  justify-content: center;
  background-color: rgb(76, 90, 92);
}

hr {
  border-color: $city-card-opacity;
}

.hidden {
  display: none !important;
}
//index styling
.main {
  min-height: 140vh;
  background: linear-gradient(rgb(51, 50, 53), rgb(78, 80, 54));
  padding: 1rem;
  width: 100%;

  &__nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }

  &__title {
    font-weight: 500;
    font-size: 3rem;
    text-shadow: $text-shadow;
  }

  &__edit {
    text-shadow: $text-shadow;
    font-weight: 600;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__search-div {
    display: flex;
    flex-direction: column;
  }

  &__search-bar {
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }

  &__list-container {
    position: relative;
  }

  &__search-results {
    position: absolute;
    z-index: 2;
    width: 100%;
    &:last-child {
      border-bottom: none;
    }
  }

  &__search-element {
    list-style-type: none;
    background-color: rgb(23, 22, 22);
    width: 100%;
    padding: 0.7rem;
    border-bottom: 1px solid rgb(100, 100, 100);
    &:hover {
      cursor: pointer;
      background-color: rgb(100, 100, 100);
      border-bottom: 1px solid rgb(122, 122, 122);
    }
    &:last-of-type {
      border-bottom: none;
    }
  }

  &__search-message {
    position: absolute;
    z-index: 2;
    background-color: rgb(23, 22, 22);
    width: 100%;
    padding: 0.7rem;
  }

  &__search-city {
    font-size: 1.4rem;
  }

  @media (min-width: 700px) {
    width: 430px;
    border-radius: $border-radius;
  }
}

.city-cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.city-card {
  width: 100%;
  display: flex;
  align-items: center;

  &--delete {
    margin-right: 1rem;
    height: 2rem;
    color: red;
    filter: drop-shadow($text-shadow);
    &:hover {
      cursor: pointer;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 2.5rem;
    border-radius: $border-radius;
    padding: $city-card-padding;
    box-shadow: $cards-shadow;
    font-size: $normal-font-size;
    text-shadow: $text-shadow;
    background-size: cover !important;

    &:hover {
      cursor: pointer;
    }
  }

  &__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__lower {
    display: flex;
    justify-content: space-between;
  }

  &__names {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__city {
    font-size: $important-font-size;
    font-weight: 100;
  }

  &__temperature {
    font-size: 2.5rem;
  }

  &__extremes {
    display: flex;
    gap: 0.6rem;
  }
}
//city styling

.loading-screen {
  height: 100vh;
  background: linear-gradient(rgb(51, 50, 53), rgb(78, 80, 54));
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &__text {
    font-size: 1.5rem;
    text-align: center;
  }

  @media (min-width: 700px) {
    width: 430px;
    border-radius: $border-radius;
  }
}

.app {
  background-size: cover !important;
  max-height: 140vh;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: scroll;
  scrollbar-width: none;
  @media (min-width: 700px) {
    width: 430px;
    border-radius: $border-radius;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  svg {
    height: 2.5rem;
    filter: drop-shadow($text-shadow);
    &:hover {
      cursor: pointer;
    }
  }
}
.card {
  background-color: $city-card-opacity;
  border-radius: $border-radius;
  padding: $city-card-padding;
  box-shadow: $cards-shadow;
  backdrop-filter: blur(25px);
}

.city {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: $text-shadow;
  gap: 0.4rem;

  &__name {
    font-size: $important-font-size;
    font-weight: 500;
  }
  &__temperature {
    font-size: 5rem;
    font-weight: 100;
    margin: 0.5rem 0;
  }
  &__status {
    font-size: $normal-font-size;
  }
  &__extremes {
    font-size: $normal-font-size;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
  }
}

.hourly {
  &__text {
    font-size: $normal-font-size;
    margin-bottom: 0.5rem;
  }

  &__predictions {
    display: flex;
    gap: 1rem;
    overflow: scroll;
    margin-top: 0.5rem;
    scrollbar-width: none;
  }

  &__prediction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
  }

  &__icon {
    height: 60px;
  }
}

.daily {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &__text {
    font-size: $normal-font-size;
  }

  &__day {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__name {
    width: 3rem;
  }

  &__icon {
    height: 40px;
  }
}

.extras {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7rem;
}

.extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__value {
    font-size: 1.8rem;
    font-weight: 100;
    margin: 1rem auto;
  }
}
